<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contatos :: Adicionar</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body>

<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/exibirContato">Cadastrar Contatos</a></li>
    <li><a href="/listarContatos">Listar Contatos</a></li>
  </ul>
</nav>

	<div class="container col-sm-12 col-md-6 col-md-offset-2" >
		<form action="/salvarGrupo" th:object="${grupo}" method="post">
			<div class="form-group">
				<label for="nomeGrupo">Nome do Grupo</label> <input type="text" th:field="*{nomeGrupo}"
					class="form-control" id="nomeGrupo" placeholder="Nome do Grupo">
			<div class="form-group form-check">
				<label >Visibilidade do grupo</label> <Br/>
				<input type="radio" class="form-check-input" id="publico"
				th:field="*{visibilidade}" 	th:value="PUBLICO" />
				<label class="form-check-label"  for="publico">Público</label>
				<input type="radio" class="form-check-input" id="privado"
					th:field="*{visibilidade}" th:value="PRIVADO" />
				<label class="form-check-label"  for="privado">Privado</label>
			</div>
			


			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>

	</div>

</body>
</html>